body {
    margin: 0;
    
}

.fundo_cadastro {
    min-height: 100%;
    background-image: url(../imagens/imagensCadastro/image\ 7.png);
    background-size: cover;
    height: 99.98vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.img_cadastro {
    background-image: url(../imagens/imagensCadastro/image\ 1.png);
    height: 90vh;
    width: 83vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    border-radius: 29px;
   
}

.card_cadastro {
    background-color: #C6C5C5;
    border-radius: 30px;
    height: 90vh;
    width: 120vh;
    display: flex;
    flex-direction: row;
}



.card_cadastro .cadastro p {
    color: #084561;
    font-size: 40px;
    font-family:'Roboto', sans-serif;
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.fundo_cadastro i {
    font-size: 50px;
    color: #C6C5C5;
    padding: 2vh;
    position: absolute;
    margin-left: -150vh;
    margin-top: -82vh;
}




.card_cadastro .informacoes_cadastro {
    gap: 15px;
    width: 62%;
    display: flex;
    flex-direction: column;
    font-family:'Roboto', sans-serif;
    color: #042230;
    padding-left: 8vh;
    padding-right: 6vh;
}


.card_cadastro .informacoes_cadastro input {
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 2px black solid;
    background-size: 10%;
}

.card_cadastro .botao_cadastro {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card_cadastro .botao_cadastro button {
    font-family:'Roboto', sans-serif;
    background-color: #084561;
    color: #C6C5C5;
    border: none;
    font-size: 22px;
    border-radius: 5vh;
    border: none;
    width: 30vh;
    height: 7vh;
}