body {
    margin: 0;
}



.imagem_fundo {
    min-height: 100%;
    background-image: url('../imagens/imagensLogin/image\ 7.png');
    background-size: cover;
    height: 99.98vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}



.card_login {
    background-color: #C6C5C5;
    border-radius: 30px;
    height: 500px;
    width: 640px;
    display: flex;
    flex-direction: row;
   
}

.card_login_img {
   background-image: url(../imagens/imagensLogin/image\ 2.png);
   background-size: cover;
    height: 500px;
    width: 335px;
    
}


.card_login_informacoes .login p {

    display: flex;
    flex-direction: row-reverse;
}

