body {
    margin: 0;
}



.imagem_fundo {
    min-height: 100%;
    background-image: url('../imagens/imagensLogin/image\ 7.png');
    background-size: cover;
    height: 99.98vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}



.card_login {
    background-color: #C6C5C5;
    border-radius: 32px;
    height: 90vh;
    width: 120vh;
    display: flex;
    flex-direction: row;
    
   
}

.card_login_img {
   background-image: url(../imagens/imagensLogin/image\ 2.png);
   background-size: cover;
   height: 90vh;
    width: 61vh;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}



.card_login_informacoes .login p {
    color: #084561;
    font-size: 37px;
    font-family: 'Roboto', sans-serif;
    height: 110px;
    width: 95px;
    display: flex;
    flex-direction: row-reverse;
    
    
}

.card_login_informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 315px;
    gap: 64px;
    padding: 7vh;
}

.informacoes_usuario {
    
    margin-top: -100px;
    
}

.card_login_informacoes .informacoes_usuario p {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 0;
}



.card_login_informacoes .informacoes_usuario img {
    height: 30px;
    width: 30px;
    background-size: cover;
}



.card_login_informacoes .informacoes_senha p {
    font-size: 17px;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 0;
    
}

.card_login_informacoes .informacoes_senha img {
    height: 520px;
    width: 347px;
    background-size: cover;
    
}

.card_login_informacoes .informacoes_usuario  input {
    display: flex;
    background-image: url(../imagens/imagensLogin/image\ 5.png);
    background-repeat: no-repeat;
    background-position: 0rem center;
    padding-left: 35px;
    height: 45px;
    width: 195px;
    border: none;
    outline: none;
    border-bottom: 2px black solid;
    background-color: transparent;
    background-size: 10%;
    font-size: 16px;
}



.card_login_informacoes .informacoes_senha input {
    display: flex;
    background-image: url(../imagens/imagensLogin/image\ 4.png);
    background-repeat: no-repeat;
    background-position: 0rem center;
    padding-left: 35px;
    height: 45px;
    width: 195px;
    border: none;
    outline: none;
    border-bottom: 2px black solid;
    background-color: transparent;
    background-size: 10%;
    font-size: 16px;
}

.card_login_informacoes button {
    background-color: #084561;
    color: #C6C5C5;
    font-family: 'Roboto', sans-serif;
    font-size: 4vh;
    border-radius: 30px;
    border: none;
    width: 29vh;
    height: 20vh;
}


.informacao_cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 235px;
    height: 28px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    gap: 25px;
}

.card_login_img .informacao_cadastrar button {
    background-color: #084561;
    color: #C6C5C5;
    font-family: 'Roboto', sans-serif;
    border-radius: 30px;
    border: none;
    width: 29vh;
    height: 7vh;
    font-size: 3vh;
    margin-bottom: 56%;
}