body {
    margin: 0;
    background-color: #031F27;
}


.navbar {

    background-color: #084561;
    padding: 20px 20px;

}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu {
    display: flex;
    gap: 30vh;
}

.menu a {
    color: #C6C5C5;
    text-decoration: none;
    margin-left: 5vh;
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    padding-right: 10vh;
}

.fundo_tela {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.img_fundo {
    background-image: url(../imagens/imgansTelaPrincipal/gif_chihiro.webp);
    background-position: center;
    filter: brightness(0.7);
    width: 180vh;
    height: 80vh;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.texto_fundo {
    font-family: 'Roboto', sans-serif;
    font-size: 3vh;
    color: #ffffff;
    background-color: #084561;
    border-radius: 3vh;
    margin-left: 35vh;
    width: 111vh;
    text-align: center;
    margin-right: 34vh;
    height: 15vh;
    align-items: center;
    display: flex;
}

.card_filmes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20vh;
    margin-top: 5vh;
}

.ponyo img {
    width: 42vh;
    height: 59vh;
    border-radius: 3vh;
}

.ponyo:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 5px #C6C5C5;
    border-radius: 5vh;
}

.mononoke img {
    width: 42vh;
    height: 59vh;
    border-radius: 3vh;
}

.mononoke:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 5px #C6C5C5;
    border-radius: 5vh;
}

.theBoyandtheHeron img {
    width: 42vh;
    height: 59vh;
    border-radius: 3vh;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.theBoyandtheHeron:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px 5px #C6C5C5; 
    border-radius: 5vh;
}

.card_informacoes {
    background-color: #084561;
    border-radius: 5vh;
    width: 155vh;
    display: flex;
    gap: 7vh;
    margin: 10vh;
}

.card_img {
    background-image: url(../imagens/imgansTelaPrincipal/hayao_myiazaki.png);
    background-size: cover;
    width: 90vh;
    height: 119vh;
    border-radius: 5vh;
 }

 .card_informacoes .titulo {
    font-family: 'Roboto', sans-serif;
    color: #031F27;
    display: flex;
    justify-content: center;
    font-weight: bold;
 }

 .card_informacoes .texto {
    color: #C6C5C5;
    font-family: 'Roboto', sans-serif;
    width: 72vh;
    font-size: 4vh;
    margin-right: 7vh;
}

.img_contato {
    background-image: url(../imagens/imgansTelaPrincipal/howls_movie_castle.png); 
    width: 210vh;
    height: 120vh;
    background-size: cover;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #084561;; /* Azul escuro */
    color: #fff; /* Texto branco */
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    width: 205vh;
    height: 20vh;
  }
  
  .footer .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .logo img {
    width: 21vh;
   
  }
  
  .footer .telefone,
  .footer .contatos {
    text-align: center;
  }
  
  .footer .telefone h3,
  .footer .contatos h3 {
    font-size: 3vh;
  }
  
  .footer .icons {
    display: flex;
    gap: 5vh;
    justify-content: center;
  }
  
  .footer .icons a img {
    width: 5vh;
    height: 5vh;
    transition: transform 0.3s;
  }
  
  .footer .icons a img:hover {
    transform: scale(1.1); 
  }
  