body {
    margin: 0;
}

.tela_sobre{
    background-color: #031F27;
}

.cardImg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img_principal {
    background-image: url(../imagens/imagensSobre/img_fundo.png);
    background-size: cover;
    width: 115vh;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

.sobre_mim {
    color: #C6C5C5;
    background-color: #28454D;
    font-family: 'Roboto', sans-serif;
    padding: 10vh;
    width: 100%;
    font-size: 4vh;
    margin-top: 10vh;
    
}

 .meuNome {
    color: white;
    font-size: 2rem;
    margin-top: 20px;
} 

.menu {
    display: flex;
    justify-content: center;
    gap: 3vh;
    margin-bottom: 5vh;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    position: relative;
}

.menu a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: white;
    transition: width 0.3s;
    margin: 0 auto;
}

.menu a:hover::after {
    width: 100%; 
}



.fotografias p {
    font-weight: bold;
}

.fotografias {
    color: #C6C5C5;
    margin: 5vh;
    font-size: 3vh;
    margin: 10vh;
    width: 130vh;
    margin-left: 40vh;
}

.fundo_carrossel {
    background-color: #C6C5C5;
    display: flex;
    justify-content: center;
    margin: 40vh;
    padding: 3vh;
    margin-top: 5vh;
    height: 92vh;
    
}

.carousel-inner {
    height: 75vh;
    width: 120vh;
   
}

.carousel-inner img {
    height: 75vh;
    width: 120vh;
}


.carousel-item active {
    height: 75vh;
    width: 120vh;
   
}

.carousel-item {
    height: 75vh;
    width: 120vh;
   
}
